/*
VARIABLES DE CSS / CUSTOM PROPERTIES

*/

:root{
    --naranja: #F90; /* --declara la variable: asignamos un valor*/
    --negro: #000;
    --blanco: #FFF;
    --gris01: #333;
    --gris02: #BBB;
    --espacio: 16px;
}

body{
    /* usamos la variable dentro de var() */
    background-color: var(--naranja);
}

.contenedor{
    background-color: pink;
    /* Limitamos el ancho a 1200px */
    max-width: 1200px;
    /* Centramos el contenedor usando el mismo márgen autmático a la der y a la izq */
    margin-left: auto;
    margin-right: auto;
}

.cabecera{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.contenido{
    background-color: chocolate;
}