/*
VARIABLES DE CSS / CUSTOM PROPERTIES

*/

:root{
    --naranja: #F90; /* --declara la variable: asignamos un valor*/
    --negro: #000;
    --blanco: #FFF;
    --gris01: #333;
    --gris02: #BBB;
    --espacio: 16px;
}

body{
    /* usamos la variable dentro de var() */
    background-color: var(--gris01);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/imagenes/pattern.jpg);
}

.contenedor{
    /* Limitamos el ancho a 1200px */
    max-width: 1200px;
    /* Centramos el contenedor usando el mismo márgen autmático a la der y a la izq */
    margin-left: auto;
    margin-right: auto;
}

.cabecera{
    display: flex;
    justify-content: space-between;
    color: var(--naranja)
}

.contenido{
    background-color: var(--blanco);
    border-radius: 8px;
    border-right: 1px solid var(--negro);
    border-left: 1px solid var(--negro);
    padding-bottom: 40px; 
}


/* Navegación */

.nav{
background-color: aqua;
}
.nav-lista{
background-color: var(--naranja);
list-style-type: none;
padding-left: 0;
display: flex;
text-align: center;
padding: 10px 16px ;
}
.nav-lista li{
background-color: var(--naranja);
flex-grow: 1;
}
.nav-lista a{
    /* los transformo en elemento de bloque */
display: block;
text-decoration: none;
text-align: center;
border-right: 1px solid var(--blanco);
font-weight: bold;
color: var(--blanco);
padding: 4px 8px

}
.nav-lista a:hover{
  color: var(--gris01);
}
.nav-form{
text-align: right;
min-width: 450px;
}


/* Slider */

.slider{
text-align: center;
padding-bottom: 40px;
}

/* Categorias */

.main{
    background-color: white;
    display: grid;
    grid-template-columns: 230px 1fr;
    gap: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 40px;
}

.categorias{
    background-color: tomato;
padding: 20px;
}

.productos{
    background-color: greenyellow;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.lampara{
 background-color: indianred;
}

.lampara h2{
    font-size: 20px;
}

.lampara-info{
    display: flex;
    gap: 20px;
}

.newsletter{
   background-image: linear-gradient(var(--blanco), var(--gris02));
   height: 100px;

   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 40px;
   display: flex;
   align-items: center;
   
   padding: 8px 35px;

   border-radius: 4px;
   border: 1px solid var(--gris01);
}

.news-info{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.news-info strong{
    padding-left: 35px;
}

.news-info span{
    padding-left: 70px;
}

.news-form{
    text-align: right;
    flex-grow: 1;
    
}